/* AO3 REVERSI */
#outer .region,
#footer .group,
.post fieldset fieldset,
fieldset fieldset {
  background: none;
}

body,
.group,
.group .group,
.region,
.flash,
fieldset,
fieldset fieldset ul,
form dl,
textarea,
#main .verbose legend,
.verbose fieldset,
.notice,
ul.notes,
input,
textarea,
table,
th,
td:hover,
tr:hover,
.symbol .question:hover,
#modal,
.ui-sortable li,
.required .autocomplete,
.autocomplete .notice,
.system .intro,
.comment_error,
.kudos_error,
div.dynamic,
.dynamic form,
#ui-datepicker-div,
.ui-datepicker table,
.annotation {
  background: #333;
  color: #eee;
  border-color: #222;
  outline: #111;
  box-shadow: none;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
.group.listbox,
fieldset fieldset.listbox,
form blockquote.userstuff,
input:focus,
textarea:focus,
li.relationships a,
.group.listbox .index,
.dashboard fieldset fieldset.listbox .index,
#dashboard a:hover,
th,
#dashboard .secondary,
.secondary,
.work.navigation .download,
.javascript .work.navigation .download .secondary,
.thread .even,
.ui-datepicker tr:hover {
  background: #2a2a2a;
}

#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.splash .favorite li:nth-of-type(odd) a,
.ui-datepicker td:hover,
#tos_prompt .heading,
#tos_prompt [disabled] {
  background: #111;
}

#outer,
.javascript,
.statistics .index li:nth-of-type(even),
#tos_prompt,
.nomination dt {
  background: #333;
}

#header ul.primary,
#outer #footer,
.toggled form {
  background: url("/images/skins/textures/tiles/black-noise.jpg");
}

#header ul.primary,
#footer,
#dashboard ul,
dl.meta,
dl.meta .wrapper,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
form blockquote.userstuff,
div.comment,
li.comment,
.toggled form,
form dl dt,
form.single fieldset,
#inner .module .heading,
.bookmark .status span,
.splash .news li,
.authentication fieldset,
.filters .group dt.bookmarker {
  border-color: #555;
}

.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
.work.navigation .download,
.javascript .work.navigation .download .secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form {
  box-shadow: 1px 1px 3px #000;
}

#dashboard .current,
.actions a:active,
#outer .current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover {
  background: #000;
  border-color: #555;
  box-shadow: -1px -1px 3px #000;
}

input,
textarea {
  box-shadow: inset 0 1px 2px #000;
}

li.blurb,
.blurb .blurb,
.listbox .index,
fieldset fieldset.listbox,
.dashboard .listbox .index {
  box-shadow: inset 1px 1px 3px #000;
}

#footer a:hover,
#footer a:focus,
#footer button:hover,
#footer button:focus,
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
.symbol .question,
.qtip-content {
  background: #50A8E2;
  color: #111;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
  background: #50A8E2;
  color: #111;
}

#header #greeting img,
#header .heading a,
#header .heading a:visited,
#header .user a:hover,
#header .user a:focus,
#header fieldset,
#header form,
#header p,
#dashboard a:hover,
.actions a:hover,
.actions button:hover,
.actions input:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 a:link,
.blurb h4 img,
.splash .module h3,
.splash .browse li a:before,
.required,
.error,
.comment_error,
.kudos_error,
a.cloud7,
a.cloud8,
#tos_prompt .heading {
  color: #50A8E2;
}

#greeting .icon,
#dashboard,
#dashboard.own,
.error,
.comment_error,
.kudos_error,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.qtip-content {
  border-color: #50A8E2;
}

a,
a:link,
a.tag,
#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header #search input:focus,
#header #search input:hover,
#dashboard a,
#dashboard span,
#dashboard .current,
.heading,
.group .heading,
.filters dt a:hover {
  color: #fff;
}

a:visited,
.actions a:visited,
.action a:link,
.action a:visited,
.listbox .heading a:visited,
span.series .divider {
  color: #999;
}

.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
#header .actions a {
  background: #555;
  border-color: #222;
  color: #eee;
  box-shadow: inset 0 -8px 4px #232323, inset 0 8px 7px #555;
  text-shadow: none;
}

.actions a:hover,
.actions button:hover,
.actions input:hover,
#dashboard a:hover,
label.action:hover,
.action:hover,
.actions a:focus,
.actions button:focus,
.actions input:focus,
#dashboard a:focus,
.actions .disabled select {
  color: #999;
  border-color: #000;
  box-shadow: inset 2px 2px 2px #000;
}

.actions a:active,
.current,
a.current,
.current a:visited {
  color: #fff;
  background: #555;
  border-color: #fff;
  box-shadow: inset 1px 1px 3px #333;
}

.delete a,
span.delete {
  box-shadow: -1px -1px 2px rgba(255,255,255.25);
}

.actions label.disabled {
  background: #222;
  box-shadow: none;
}

ul.required-tags,
.bookmark .status span,
.blurb .icon {
  opacity: 0.9;
  border: 0;
}

#outer .group .heading,
#header .actions a,
fieldset.listbox .heading,
.userstuff .heading,
.heading,
.userstuff h2 {
  text-shadow: none;
  color: #fff;
  background: none;
}

#header .actions a,
fieldset fieldset,
.mce-container button,
.filters .expander,
.actions .disabled select {
  box-shadow: none;
}

fieldset fieldset.listbox {
  outline: none;
}

form dd.required {
  color: #eee;
}

.mce-container input:focus {
  background: #F3EFEC;
}

.announcement .userstuff a,
.announcement .userstuff a:link,
.announcement .userstuff a:visited:hover {
  color: #111;
}

.announcement .userstuff a:visited {
  color: #666;
}

.announcement .userstuff a:hover,
.announcement .userstuff a:focus {
  color: #999;
}

.event.announcement .userstuff a,
.filters .expander {
  color: #eee;
}

.announcement .action {
  background: #333;
}

.announcement .action:hover,
.announcement .action:focus {
  color: #fff;
  box-shadow: inset 2px 2px 2px #000;
}

.caution {
  border-color: #807640;
  color: #dbbc54;
}


/* MY ADDITIONS */
/* Add dark mode to the header in the place of where the beta was */
#header > h1 > a > span::after {
  content: " Dark Mode";
  vertical-align: super;
  font-size: 14px;
  font-style: italic;
}

/* Change the colour of the ao3 logo to match the rest of the colour scheme */
#header .logo {
  filter: brightness(0) saturate(100%) invert(60%) sepia(87%) saturate(545%) hue-rotate(180deg) brightness(96%) contrast(80%);
  -webkit-filter: brightness(0) saturate(100%) invert(60%) sepia(87%) saturate(545%) hue-rotate(180deg) brightness(96%) contrast(80%);
}

/* Change the body text to a super subtle gradient */
#workskin p,
.system p,
.news p,
.userstuff p,
p.notes,
blockquote.userstuff,
blockquote pre,
.blurb p:not(.datetime):not(p.actions) {
  background-color: #dddddd;
  background-image: linear-gradient(#B2D6FA, #84C2EB, #A1EFF7);
  background-size: 100% 150%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* background colour of notes/summaries */
div.preface.group {
  background-color: #2A2A2A;
}

/* hover over tags colouring */
.tags li.freeforms a.tag:hover,
.work .freeform a.tag:hover,
.tags li.characters a.tag:hover,
.work .character a.tag:hover,
h5.fandoms.heading a.tag:hover,
h5.tags.heading a.tag:hover,
#user-fandoms.fandom.listbox.group li:hover,
#user-fandoms.fandom.listbox.group a:hover,
.work .fandom a.tag:hover,
.tags li.warnings a.tag:hover,
.work .warning a.tag:hover,
.tags li.relationships a.tag:hover,
.work .relationship a.tag:hover,
.work .category a.tag:hover,
.work .rating a.tag:hover,
.meta.tags a.tag:hover {
  background-color: #50A8E2 !important;
  color: black !important;
}

/* Warning tags */
a.tag[href*="Choose%20Not%20To%20Use%20Archive%20Warnings/works"],
a.tag[href*="Graphic%20Depictions%20Of%20Violence/works"],
a.tag[href*="Major%20Character%20Death/works"],
a.tag[href*="Rape*s*Non-Con/works"],
a.tag[href*="Underage%20Sex/works"] {
  color: #ef9a9a;
  background-color: #2A2A2A;
}

/* sex-related warning tags */
a.tag[href*="Rape*s*Non-Con/works"],
a.tag[href*="Underage%20Sex/works"] {
  border-color: #ef9a9a;
}

/* No archive warning apply tag */
a.tag[href*="tags/No%20Archive%20Warnings%20Apply/works"] {
  color: #a5d6a7;
  background-color: #2A2A2A;
}

/* meta/category/rating tags */
.tags li.category a.tag,
.work .category a.tag,
.work .rating a.tag,
.meta.tags a.tag {
  color: #e9e8e7;
  background-color: #2A2A2A;
}

/* fandom tags */
h5.fandoms.heading a.tag,
.work .fandom a.tag,
h5.tags.heading a.tag,
#user-fandoms.fandom.listbox.group li,
#user-fandoms.fandom.listbox.group a {
  color: #a5d6a7;
  background-color: #2A2A2A;
}

/* relationship tags */
.tags li.relationships a.tag,
.work .relationship a.tag {
  color: #90caf9;
  background-color: #2A2A2A;
}

/* & relationship tags */
div:has(.commas) [class^="relationship"] a.tag[href*="%20*a*%20"] {
  color: #80deea;
  background-color: #2A2A2A;
}

/* character tags */
.tags li.characters a.tag,
.work .character a.tag {
  color: #facf66;
  background-color: #2A2A2A;
}

/* freeform tags */
.tags li.freeforms a.tag,
.work .freeform a.tag {
  color: #d1c4e9;
  background-color: #2A2A2A;
}

/* not english language border colour */
.work.blurb:not(:has(dd[lang$="en"])) {
  border-color: #4F39F6 !important;
}

/* english language border colour */
.blurb:has(dd[lang=en]) {
  border-color: #169f06 !important;
}

/* my works border colour */
.blurb:has(a[href$="users/Smiley5494/pseuds/Smiley5494"]) {
  border: 2px solid #2A2A2A !important;
}
