/* VAST majority of this comes straight from ElectricAlice's mobile fix. What aint broke dont fix afterall. */

/* Lets resize shit haha, taking that zoomed in back to being zoomed out */
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  font-size: 1em;
}

.userstuff {
  font-size: 100%;
}

/* pretty sure it's this that if it's left out it breaks bookmarks */
#footer .heading,
.comment h4.byline,
.home .header .userstuff,
.home .header dl.stats,
.home .header .type,
.blurb dl.tags dd,
dl.meta dd,
h4.heading {
  overflow-wrap: break-word;
}

h4 {
  font-size: 1.2em;
}

h2,
h2.heading {
  font-size: 1.8em;
  font-weight: 600;
}

/* Lets remove some margins hell yeah */
h5.fandoms.heading,
.news h4.heading,
#footer h4.heading,
.comment h4.heading {
  margin: 0px !important;
}

.user h2.heading,
.admin h2.heading,
.collection h2.heading {
  margin: 10px auto;
  text-align: center;
}

#header .primary {
  padding-bottom: 10px;
}

#header li {
  display: inline-block;
}

#header .heading {
  margin-left: auto !important;
  margin-right: auto;
  display: block;
  float: none;
  font-size: 0.8em;
  padding: 0;
  text-align: center;
}

#login,
#greeting {
  margin-right: auto;
  margin-left: auto;
  float: none;
  margin-top: 0px !important;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: auto;
}

#header .primary .menu a {
  padding: 0.429em 0.75em;
}

#dashboard,
#dashboard.own {
  border-bottom: 0px;
  border-top: 0px;
  border: 0px;
}

#dashboard ul {
  display: inline-block;
}

/* this is a really key bit, it makes sure that there's no side-to-side wiggle room when reading */
#workskin,
.collection blockquote.userstuff {
  width: 95% !important;
}

p.kudos {
  background: none;
  padding: 0;
  min-height: 0;
  word-break: break-word;
}

p.kudos::before {
  content: "Kudos:";
}

div.preface,
.preface.group blockquote.userstuff {
  margin: 0;
}

.userstuff ul {
  padding: 0;
}

.userstuff li,
.userstuff ol ul li {
  margin-inline-start: 1em;
}

.home .header .userstuff,
.home .header dl.stats,
.home .header .type,
.blurb dl.tags dd,
dl.meta dd {
  margin-left: auto;
}

.chapter .secondary,
.download .secondary {
  top: initial;
  right: 0;
  margin: 10px;
}

.chapter .expandable.secondary,
.chapter .expandable.secondary select {
  width: 90%;
}

.blurb .datetime,
.blurb .status {
  position: initial;
}

.blurb ul.tags.commas,
.blurb h5.fandoms.heading,
dd a.tag {
  font-size: 90%;
}

.blurb h5.fandoms.heading {
  padding-top: 10px;
}

.blurb h4.heading {
  margin: 0 !important;
}

.blurb ul.required-tags {
  position: initial;
  top: initial;
  display: flex;
}

.blurb ul.required-tags li + li + li,
.blurb ul.required-tags li + li + li + li {
  position: initial;
  left: initial;
}

.blurb ul.required-tags li {
  padding-right: 6px;
}

.user .primary p.icon,
.admin .primary .icon,
.collection .icon {
  position: initial;
  margin: 10px auto;
}

div#comments_placeholder,
.blurb .userstuff,
.news .userstuff,
.system .userstuff {
  width: 100% !important;
  margin: auto;
  text-align: left;
}

.comment .posted {
  display: block;
}

.comment .userstuff p {
  padding: 0 5px;
}

ol.pagination {
  max-width: 90%;
}

#footer .module {
  max-width: 40%;
  margin: auto;
}

.user .primary img.icon,
.admin .primary .icon,
.user .primary p.icon {
  top: auto;
}

#header .user,
.comment .posted,
#header li {
  float: initial;
}

.javascript,
.filters dt {
  background-color: transparent;
}

li.showme a.actions,
dl.stats dd {
  white-space: normal;
  height: initial;
}

#ui-datepicker-div {
  top: 522px !important;
}

.assigned.module th[scope=col],
thead th[scope=col] {
  max-width: 18px;
  overflow: hidden;
}

#header .logo,
#header .heading sup,
#greeting p.icon {
  display: none;
}

#header .heading {
  margin-left: 2em;
}

a.tag {
  font-size: 90%;
}

/* hey hey so now we get to the listing of title, author, giftees, etc */
.home .primary.header.module {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  margin: 2.2em auto 2em auto !important;
}

.home .primary.header.module h2.heading {
  order: 2 !important;
  font-size: 2.1em !important;
  border: none !important;
  margin: 0.4em 0 0.6em 0 !important;
}

.home .primary.header.module .icon {
  order: 1 !important;
  float: none !important;
  position: relative !important;
  width: 220px !important;
  height: 150px !important;
  margin: 0.2em auto 1.2em auto !important;
}

.home .primary.header.module .icon img {
  position: relative !important;
  z-index: 1 !important;
  display: block !important;
  width: 85px !important;
  height: 85px !important;
  margin: 45px auto 0 auto !important;
  border-radius: 50% !important;
}

.home .primary.header.module ul.actions {
  order: 3 !important;
  width: 100% !important;
  margin: 0 0 1.4em 0 !important;
  padding: 0 !important;
  text-align: center !important;
}

.home .primary.header.module ul.actions li {
  display: inline-block !important;
  margin: 0 0.8em !important;
}

.blurb .header h4.heading a:first-of-type::after,
.blurb .header h4.heading a[rel="author"]:has(+ a[href$="/gifts"])::after {
  content: "\A";
  white-space: pre;
}

.bookmark .status span,
.blurb .icon {
  opacity: 0 !important;
}

/* this gets rid of the icons on bookmarks. */
div.icon,
.status .rec,
.status .count,
img[src$="/images/skins/iconsets/default/bookmark-rec.png"],
img[src$="https://zerafinacss.github.io/ao3/icons/bookmark-rec-01.png"],
.status .public,
img[src$="/images/skins/iconsets/default/bookmark-public.png"],
img[src$="https://zerafinacss.github.io/ao3/icons/bookmark-public-01.png"],
.status .private,
img[src$="/images/skins/iconsets/default/bookmark-private.png"],
img[src$="https://zerafinacss.github.io/ao3/icons/bookmark-locked-01.png"],
.status .hidden,
img[src$="/images/skins/iconsets/default/bookmark-hidden.png"],
img[src$="https://zerafinacss.github.io/ao3/icons/bookmark-locked-01.png"] {
  display: none !important;
}

/* this gets rid of the icon next to kudos */
div:has(> p.kudos)::before {
  display: none !important;
}

/* lets add that superscript in here too */
#header > h1 > a > span::after {
  content: " Mobile Mode" !important;
  vertical-align: super;
  font-size: 14px;
  font-style: italic;
}
